@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --main-color: #30475e;
  --second-color: #588da8;
  --e-color: #77d8d8;
  --l-color: #f2a365;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-color);
  color: #eee;
  margin: 0;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-left: 0;
  border-right: 0;
}

.logo {
  margin: 10px;
  text-align: center;
  font-size: 0.7em;
  width: 30%;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}

.logo h1,
.logo p {
  margin: 5px 0;
}

span.e {
  color: var(--e-color);
}

span.l {
  color: var(--l-color);
}

nav {
  width: 70%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul li {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  transition: transform 0.3s ease;
}

nav li a {
  text-decoration: none;
  color: var(--e-color);
}

nav li:hover {
  transform: scale(1.1);
}

main {
  margin-top: 80px;
  width: 380px;
  display: grid;
  grid-template-areas:
    "header header header"
    "main nav panel";
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

main h2 {
  text-align: center;
  grid-area: header;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 20px;
}

#main-zone {
  width: 220px;
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-zone .card {
  text-align: center;
}

.word-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.word-wrapp #word {
  font-size: 32px;
  color: var(--l-color);
  word-break: break-all;
}

.transcription-wrapp #transcription {
  letter-spacing: 3px;
}

.translate-wrapp #translation {
  color: var(--e-color);
  font-size: 18px;
}

.panel {
  grid-area: panel;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  width: 80px;
  text-align: center;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.panel-group {
  display: flex;
  flex-direction: column;
  padding: 8px;
  cursor: pointer;
}

.panel-group i {
  font-size: 30px;
}

.panel-group p {
  margin: 4px;
}

.panel-group:nth-child(1) {
  color: #ff6363;
}

.panel-group:nth-child(2) {
  color: #ffecc7;
}

.panel-group:nth-child(3) {
  /* color: #43d8c9; */
  color: #97e5ef;
}

.card-nav {
  width: 80px;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-nav #pronounce {
  background-color: transparent;
  font-size: 16px;
  color: #ddd;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 40px;
  cursor: pointer;
  outline: 0;
  transition: transform 0.1s linear;
}

.card-nav #next {
  background-color: transparent;
  color: #eee;
  border: 0;
  font-size: 32px;
  outline: 0;
  transition: transform 0.1s linear;
}

#pronounce:active,
#next:active {
  color: #000;
  transform: scale(0.8);
}

.list {
  width: 380px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-top: 40px;
}

.list h3 {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #ddd;
  padding: 20px;
  margin: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
}

.list ul li {
  cursor: pointer;
  padding: 10px;
}

.list ul li.active {
  color: var(--l-color);
  font-weight: bold;
}
